<div class="container">
  <div class="info-event-container">
    <div class="timetable">Event Timetable</div>
    <div class="informationOfEvent">
      <div class="shedule"><h1>Information of event</h1> <br/> <h1>Schedule</h1></div>
      <div class="days">
        <div class="days1"><button>Day 01</button></div>
        <div class="days2"><button>Day 02</button></div>
        <div class="days3"><button>Day 03</button></div>
      </div>
    </div>
  </div>
  <hr>
  @for (item of dataComponent; track $index) {
    <app-child [dataComponent]="item"></app-child>
  }
</div>