<div class="container">
  <div class="info-event-container">
    <div class="timetable">Event Timetable</div>
    <div class="informationOfEvent">
      <div class="shedule"><h1>Information of event</h1> <br/> <h1>Schedule</h1></div>
      <div class="days">
        <div class="days1"><button>Day 01</button></div>
        <div class="days2"><button>Day 02</button></div>
        <div class="days3"><button>Day 03</button></div>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-specifique-shedule">
    <div class="photo"><img src="https://img.freepik.com/free-photo/medium-shot-woman-drinking-hot-chocolate_52683-102637.jpg?t=st=1722177075~exp=1722180675~hmac=7dfd17048ca3f29d83920db874ee6953f72afc2e73412b4c281d23b47453de7e&w=1380" alt=""></div>
    <div class="info-event-hour-container">
      <div class="hours-container">
        <div class="hours-specific-container">
          <div class="program-hour"></div>
          <div class="program-text"></div>
          <div class="program-lieux"></div>
        </div>
      </div>
      <div class="tickets">
        <div class="buy-tickets_btn">
          <button>Buy Ticket</button>
        </div>
        <div class="speakers">

        </div>
      </div>
    </div>
  </div>
</div>