<div class="flex p-8 mt-6 ml-20 text-center">
  <div class="justify-center text-center">
    <div class="bg-gray-100 p-4 rounded-lg shadow-md w-full max-w-4xl">
      <div class="flex justify-center bg-red-900 text-white font-bold text-lg p-2 rounded-t-lg">
        <div class="justify-between">
          <div class="ml-4 animate-bounce">OTIF</div>
          <div class="animate-bounce">INFORMATION LOGISTIQUE</div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">place</span>
            <span class="animate-pulse">VENUE</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">flight</span>
            <span class="animate-pulse">VOLS</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">airport_shuttle</span>
            <span class="animate-pulse">TRANSFERTS AÉROPORTUAIRES ET TRANSPORT</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">assignment</span>
            <span class="animate-pulse">VISA, PASSEPORTS ET FORMALITÉS D'ENTRÉE</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">vaccines</span>
            <span class="animate-pulse">EXIGENCES EN MATIÈRE DE VACCINATION</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">hotel</span>
            <span class="animate-pulse">DSA ET HÉBERGEMENT</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">info</span>
            <span class="animate-pulse">KIT D'INFORMATION ET ACCRÉDITATION</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">attach_money</span>
            <span class="animate-pulse">DEVISES ET SERVICES BANCAIRES</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">power</span>
            <span class="animate-pulse">ÉLECTRICITÉ</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">wifi</span>
            <span class="animate-pulse">INSTALLATIONS DE COMMUNICATION</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">toys</span>
            <span class="animate-pulse">PRODUITS DE TOILETTE</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">wb_sunny</span>
            <span class="animate-pulse">MÉTÉO</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">language</span>
            <span class="animate-pulse">LANGUE</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="material-icons animate-pulse mr-2">local_hospital</span>
            <span class="animate-pulse">MALADIE OU ACCIDENT</span>
          </div>
        </div>
      </div>
      <div class="bg-white p-2 border-b">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <span class="animate-pulse">INFORMATIONS DE CONTACT:  </span><br>
            <span class="animate-pulse">Irie.fabrice&#64;otif-africa-space.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container rounded-lg max-w-2xl ml-24 w-full">
    <div class="bloc rounded-lg mt-10 sm:flex space-x-6">
        <!-- left side contact infos -->
        <div class="rounded-lg mt-8 ml-20">
            <div
                class="bg-red-900 p-[20px] sm:p-[30px] space-y-[24px] text-[16px]">
                <!-- single contact info -->
                <div
                    class="flex flex-wrap items-center gap-[20px] pb-[20px] text-white border-b border-white/30 last:border-0 last:pb-0">
                    <span
                        class="icon shrink-0 border border-dashed border-white rounded-full h-[62px] w-[62px] flex items-center justify-center">
                        <img src="../../../assets/call-msg.svg"
                            alt="icon">
                    </span>

                    <div class="txt">
                        <span class="font-light">Appelez au </span>
                        <h4 class="font-semibold text-[24px]"><a
                                href="tel:+208-555-0112">+336 78 55 95 45</a></h4>
                    </div>
                </div>

                <!-- single contact info -->
                <div
                    class="flex items-center gap-[20px] pb-[20px] text-white border-b border-white/30 last:border-0 last:pb-0">
                    <div>
                        <span
                            class="icon shrink-0 border border-dashed border-white rounded-full h-[62px] w-[62px] flex items-center justify-center">
                            <img src="../../../assets/mail.svg"
                                alt="icon">
                        </span>

                    </div>

                    <div class="txt">
                        <span class="font-light">Mail</span>
                        <h4 class="font-semibold text-[24px]"><a
                                href="mailto:contact@otif-africa-space.com">contact&#64;otif-africa-space.com</a></h4>
                    </div>
                </div>

                <!-- single contact info -->
                <div
                    class="flex items-center gap-[20px] pb-[20px] text-white border-b border-white/30 last:border-0 last:pb-0">
                    <span
                        class="icon shrink-0 border border-dashed border-white rounded-full h-[62px] w-[62px] flex items-center justify-center">
                        <img
                            src="../../../assets/location-dot-circle.svg"
                            alt="icon">
                    </span>

                    <div class="txt">
                        <span class="font-light">Lieu</span>
                        <h4 class="font-semibold text-[24px]">Abidjan, Côte d'Ivoire</h4>
                    </div>
                </div>
            </div>

            <!-- video cover -->
            <div class="relative">
                <img src="../../../assets/contact-video-cover.jpg"
                    alt="video cover" class="w-full">
                <a
                    href="https://youtu.be/6KmuL6RcdNA?si=s1RJZZwk6XcqZAwX"
                    data-fslightbox
                    class="video-btn-shadow w-[58px] aspect-square rounded-full bg-white text-[18px] text-blbg-blue-700 flex items-center justify-center absolute top-[50%] left-[50%] -translate-y-[50%] -translate-x-[50%]">
                    <i class="fa-solid fa-play"></i>
                </a>
            </div>
        </div>
</div>
