<div class="flex flex-col-2 mt-8 mb-4 items-center">
    <div class="flex justify-center  space-x-2 mb-8 w-1/2">
      <div class="relative">
        <img src="../../../assets/Spa.jpeg"  class="rounded-full -mr-20 mt-40 ml-40 w-32 h-32  ">
      </div>
      <div class="relative">
        <img src="../../../assets/Spa2.jpeg"  class="rounded-full -mr-16 ml-20 mr-4 mt-10 w-64 h-64 ">
        <img src="../../../assets/Spa3.jpeg"  class="rounded-full w-32 h-32 ml-20">
      </div>
      <div class="relative">
        <img src="../../../assets/Spa4.png"  class="rounded-full mt-64 mr-20  w-32 h-32 ">
      </div>
      <div class="relative">
     
      </div>
    </div>
    <div class="text-center ml-20 mt-10 mb-20 max-w-2xl">
      <h2 class="text-3xl  font-bold mb-4 text-red-900"> Marché Africain des Solutions Spatiales <br> (MASS)</h2>
      <p class="text-lg text-gray-600 mb-6 text-left ml-10">Le MASS est un marché 
        unique et incontournable qui offre une plateforme <br> de rencontre  entre les acteurs 
        du développement (secteurs publique et privé, <br> les organisations internationales, 
        les organisations non gouvernementales, <br> la société civile, le secteur académique,
        les finances et les banques, etc.) <br> et les fournisseurs de services spatiaux. Il s’agit 
        de proposer des solutions <br> spatiales  concrètes pour résoudre les défis liés au 
        développement <br> socioéconomique du continent africain</p>
      <div class="flex justify-center space-x-4">
        <button class="bg-red-900 mt-10 text-white px-4 py-2 rounded" routerLink="/details">Plus de détails</button>
      </div>
    </div>
  </div>
  