<div class="header"> 
    <div class="top-bar flex justify-between items-center bg-blue-900 text-white text-sm  py-4 ">
      <div class="top-bar-left flex items-center">
        <i class="material-icons ml-24">location_on</i>
        <span class="">Abidjan Côte d'Ivoire</span>
      </div>
      <div class="top-bar-right flex items-center mr-32">
        <i class="fab fa-linkedin ml-4 text-xl"></i>
        <i class="fab fa-twitter ml-4 text-xl"></i>
        <i class="fab fa-instagram ml-4 text-xl"></i>
      </div> 
    </div>


    <div class="main-bar flex justify-between items-center text-red-700 mt-2 py-2">
      <img src="../../../assets/logo.png" alt="OTIFFF" class="ml-24 h-25 w-60" />
      <div class="contact-info flex items-center ml-10 ">
        <i class="material-icons mr-4">email</i>
        <span class="mr-4">
           <span class=" font-bold">contact&#64;otif-africa-space.com</span> <br>
           <span class="text-sm">Envoyez-nous un message</span>
        </span>
        <i class="material-icons ml-8 mr-4">phone</i>
        <span class="mr-2">
            <span class="font-bold">
              +33 678 55 95 45 <br>
                
            </span> 
            <span class="text-sm">Demande de rappel</span>
        </span>
        <button class="register-btn bg-red-800 text-white py-2 px-4 ml-8 mr-4  rounded-xl">INSCRIVEZ-VOUS ICI</button>

      </div>
    </div>
  </div>
  
  