<div class="flex flex-col ml-4">
    <h2 class="text-4xl ml-20 mt-12 font-bold mb-4">
      Nos sponsors
      <span class="block w-12 h-1 bg-red-800 mt-1"></span>
    </h2>

    <div class="flex items-center justify-center mt-2 space-x-8">
      <img src="../../../assets/AFRICAN_UNION.png"  class="h-56">
      <img src="../../../assets/spon1.png"  alt="MODELIS" class="h-26">
      <img src="../../../assets/spon2.png" alt="MODELIS" class="h-24">
      <img src="../../../assets/spon3.png" alt="MODELIS" class="h-26">

    </div>

</div>
 

 