<div class="flex flex-col ml-4">
    <h2 class="text-4xl font-bold mb-4">
      Programme
      <span class="block w-12 h-1 bg-yellow-400 mt-1"></span>
    </h2>
  
    <div class="mt-6 justify-center items-center overflow-x-auto ml-20">
      <table class="min-w-68 bg-white border border-gray-200">
        <thead>
          <tr>
            <th class="text-center py-2 px-4 border-b border-gray-200" colspan="2">Jour 2 : Cérémonie d'ouvertures et Ressources Naturelles</th>
          </tr>
          <tr class="bg-gray-100">
            <th class="py-2 px-4 border-b border-gray-200">Heure</th>
            <th class="py-2 px-4 border-b border-gray-200">Activité</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover:bg-gray-50 bg-red-200 font-bold">
            <td class="py-2 px-4 border-b border-gray-200 ">09:00 - 10:00</td>
            <td class="py-2 text-center px-4 border-b border-gray-200">Petit-déjeuner</td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="py-2 px-4 border-b border-gray-200">10:00 - 12:00</td>
            <td class="py-2 px-4 border-b border-gray-200 text-center">Cérémonie d'ouverture:
                <p> Dr TIDIANE OUATTARA: Commission de l'Union Africaine, Agence Spatiale Africaine</p>
                <p>Prof SHERIF SEDGY : Agence Spatiale Égyptienne</p>
                <p>Mr ADAMA DIAWARA: Ministère de l’Enseignement Supérieur et de la Recherche Scientifique </p>
                <p>Mr IRIE BI FABRICE: OTIF Espace Afrique</p>
            </td>
          </tr>
          <tr class="hover:bg-gray-50 text-center bg-red-200 font-bold">
            <td class="py-2 px-4 border-b border-gray-200">12:15 - 14:00</td>
            <td class="py-2 px-4 border-b border-gray-200">Déjeuner</td>
          </tr>

          <tr class="hover:bg-gray-50">
            <td class="py-2 px-4 border-b border-gray-200">14:00 - 15:30</td>
            <td class="py-2 px-4 border-b border-gray-200 text-center">Session 1:
                <p> Solution spatiale pour la gestion foncière</p>
            </td>
          </tr>
          <tr class="hover:bg-gray-50 text-center bg-red-200 font-bold">
            <td class="py-2 px-4 border-b border-gray-200">15:30 - 16:30</td>
            <td class="py-2 px-4 border-b border-gray-200">Pause café et Visite de stand</td>
          </tr>
          <tr class="hover:bg-gray-50">
            <td class="py-2 px-4 border-b border-gray-200">16:30 - 17:30</td>
            <td class="py-2 px-4 border-b border-gray-200 text-center">Session 2:
                <p> Solution spatiale pour la gestion foncière</p>
            </td>
          </tr>
          <tr class="bg-red-200 font-bold">
            <td colspan="2" class="py-2 px-4 text-center border-b border-gray-200">Fin de la journée</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  