<div class="flex flex-col ml-4">
    <h2 class="text-4xl ml-20 mt-12 font-bold mb-4">
      Nos sponsors
      <span class="block w-12 h-1 bg-red-800 mt-1"></span>
    </h2>

    <div class="flex items-center justify-center mt-2 space-x-8">
      <img src="../../../assets/AFRICAN_UNION.png"  class="h-56">
      <img src="../../../assets/spon1.png"  alt="MODELIS" class="h-26">
      <img src="../../../assets/spon2.png" alt="MODELIS" class="h-24">
      <img src="../../../assets/spon3.png" alt="MODELIS" class="h-26">

      <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
        <a href="#" class="bg-red-500 text-white p-4 rounded text-center flex items-center justify-center">
            <i class="fas fa-file-pdf mr-2"></i> OTIF 2024 Brochure
        </a>      
        <a href="#" class="bg-blue-500 text-white p-4 rounded text-center">Abstract sample</a>
        <a href="#" class="bg-orange-500 text-white p-4 rounded text-center">Click here to submit your abstract</a>
        <div class="bg-gray-500 p-4 rounded">
          <p>For More information, please contact</p>
          <p class="font-bold">Prof. Kouadio AFFIAN</p>
          <p>Chairman of Local Organizing Committee</p>
        </div>
      </div>

    </div>

    <div class="bg-blue-500 mt-4 p-4 text-center mb-4">
        <button class="bg-red-800 text-white font-bold py-2 px-4 rounded">Devenir un sponsor</button>
      </div>
</div>
 

 