<div class="bg-gray-100 mt-8 rounded-lg m-12 p-6">

    <div class="">
        <h2 class="text-4xl font-bold mb-4">
            Rencontrez nos intervenants
         <span class="block w-12 h-1 bg-red-800 mt-1"></span>
        </h2>
    </div>
    
    <div class="flex flex-wrap ml-24 p-6 ">
    
        <div class="relative bg-white rounded-lg shadow-lg w-80 m-4 text-center overflow-hidden group">
            <img class="w-full h-full object-cover" src="../../../assets/fabrice.jpeg" alt="Profile Picture">
            <div class="profile-overlay absolute inset-0 bg-gradient-to-t from-blue-900 to-blue-100 opacity-0 group-hover:opacity-90 transition-opacity duration-300 flex flex-col justify-center items-center p-4 text-white">
                <h2 class="text-xl font-semibold">Irie Bi FABRICE</h2>
                <p class="font-bold mb-4">Ingénieur en SIG et Topographe </p>
                <div class="flex space-x-3">
                    <a href="https://www.linkedin.com/in/irie-fabrice-irie-bi-47b13315/" class="text-white">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="relative bg-white rounded-lg shadow-lg w-80 m-4 text-center overflow-hidden group">
            <img class="w-full h-full object-cover" src="../../../assets/tidiane.jpg" alt="Profile Picture">
            <div class="profile-overlay absolute inset-0 bg-gradient-to-t from-blue-900 to-blue-100 opacity-0 group-hover:opacity-90 transition-opacity duration-300 flex flex-col justify-center items-center p-4 text-white">
                <h2 class="text-xl font-semibold">Tidiane OUATTARA</h2>
                <p class="font-bold mb-4 mt-4">Expert en Sciences Technologiques et Spatiales à la Commission de l'Union Africaine</p>
                <div class="flex space-x-3">
                    <a href="https://www.linkedin.com/in/tidianeouattara/?originalSubdomain=et" class="text-white">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="relative bg-white rounded-lg shadow-lg w-80 m-4 text-center overflow-hidden group">
            <img class="w-full h-full object-cover" src="../../../assets/diawara.jpg" alt="Profile Picture">
            <div class="profile-overlay absolute inset-0 bg-gradient-to-t from-blue-900 to-blue-100 opacity-0 group-hover:opacity-90 transition-opacity duration-300 flex flex-col justify-center items-center p-4 text-white">
                <h2 class="text-xl font-semibold">Adama DIAWARA</h2>
                <p class="font-bold mb-4">Ministre de l’Enseignement Supérieur et de la Recherche scientifique</p>
                <div class="flex space-x-3">
                    <a href="https://www.linkedin.com/in/adama-diawara-3b06b61aa/?originalSubdomain=ci" class="text-white">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </div>
        </div>
    
        
        <div class="ml-80 relative bg-white rounded-lg shadow-lg w-80 m-4 text-center overflow-hidden group">
            <img class="w-full h-full object-cover" src="../../../assets/sedky" alt="Profile Picture">
            <div class="profile-overlay absolute inset-0 bg-gradient-to-t from-blue-900 to-blue-100 opacity-0 group-hover:opacity-90 transition-opacity duration-300 flex flex-col justify-center items-center p-4 text-white">
                <h2 class="text-xl font-semibold">Sherif Mohamed Sedky</h2>
                <p class="font-bold mt-4 mb-4">Directeur général de l'Agence spatiale égyptienne</p>
                <div class="flex space-x-3">
                    <a href="https://www.linkedin.com/in/sherif-sedky-1215b2/?originalSubdomain=eg" class="text-white">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="text-white">
                        <i class="fab fa-google"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<app-sponsor></app-sponsor>

