<div class=" mt-8 rounded-lg m-12 p-6">
    <div class="">
      <h2 class="text-3xl font-bold mb-4">
        Rencontrez nos intervenants
        <span class="block w-12 h-1 bg-red-800 mt-1"></span>
      </h2>
    </div>
    <div class="flex flex-wrap  justify-center p-6">

        <div class="relative bg-white rounded-lg shadow-lg w-72 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
        <div class="absolute left-0 top-0 bottom-0 w-12 flex flex-col items-center justify-center bg-white space-y-4">
          <a href="https://www.linkedin.com/in/irie-fabrice-irie-bi-47b13315/" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-twitter"></i>
          </a>
         
        </div>
        <img class="w-full h-80 object-cover mt-6" src="../../../assets/fabrice.jpeg" alt="Profile Picture">
        <div class="p-4">
          <h2 class="text-lg font-semibold">Irie Bi FABRICE</h2>
          <p class="text-sm ml-10 text-red-900 font-bold mb-4">Ingénieur en SIG et Topographe</p>
        </div>
      </div>
   
      <div class="relative bg-white rounded-lg shadow-lg w-72 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
        <div class="absolute left-0 top-0 bottom-0 w-12 flex flex-col items-center justify-center bg-white space-y-4">
          <a href="https://www.linkedin.com/in/tidianeouattara/?originalSubdomain=et" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-twitter"></i>
          </a>
          
        </div>
        <img class="w-full h-80 object-cover" src="../../../assets/tidiane.jpg" alt="Profile Picture">
        <div class="p-4">
          <h2 class="text-lg font-semibold">Tidiane OUATTARA</h2>
          <p class="text-sm ml-10 text-red-900 font-bold mb-4">Expert en Sciences Technologiques et Spatiales à la Commission de l'Union Africaine</p>
        </div>
      </div>
    
      <div class="relative bg-white rounded-lg shadow-lg w-72 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
        <div class="absolute left-0 top-0 bottom-0 w-12 flex flex-col items-center justify-center bg-white space-y-4">
          <a href="https://www.linkedin.com/in/adama-diawara-3b06b61aa/?originalSubdomain=ci" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-twitter"></i>
          </a>
         
        </div>
        <img class="w-full h-80 object-cover" src="../../../assets/diawara.jpg" alt="Profile Picture">
        <div class="p-4">
          <h2 class="text-lg font-semibold">Adama DIAWARA</h2>
          <p class="text-sm font-bold ml-10 text-red-900 mb-4">Ministre de l’Enseignement Supérieur et de la Recherche scientifique</p>
        </div>
      </div>
    
      <div class="relative bg-white rounded-lg shadow-lg w-72 m-4 text-center overflow-hidden group transition-transform transform hover:scale-105">
        <div class="absolute left-0 top-0 bottom-0 w-12 flex flex-col items-center justify-center bg-white space-y-4">
          <a href="https://www.linkedin.com/in/sherif-sedky-1215b2/?originalSubdomain=eg" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="text-blue-600 transition-transform transform hover:scale-125">
            <i class="fab fa-twitter"></i>
          </a>
        
        </div>
        <img class="w-full h-80 object-cover" src="../../../assets/sedky" alt="Profile Picture">
        <div class="p-4">
          <h2 class="text-lg font-semibold">Sherif Mohamed Sedky</h2>
          <p class="text-sm ml-10 text-red-900 font-bold mb-4">Directeur général de l'Agence spatiale égyptienne</p>
        </div>
      </div>
   
      
    </div>
  </div>
  <app-sponsor></app-sponsor>


  