<div class="text-center mt-12 my-8">
    <h2 class="text-2xl font-bold">Compte A Rebours de l'Evénement ...</h2>
 
    
    <div class="flex justify-center mt-8 my-4">
      <div class="bg-red-500 text-white rounded-full px-8 py-2 mx-2">
        <span class="text-6xl">{{ days }}</span><br>Jours
      </div>
      <div class="bg-red-500 text-white rounded-full px-8  py-2 mx-2">
        <span class="text-6xl">{{ hours }}</span><br>Heures
      </div>
      <div class="bg-red-500 text-white rounded-full px-8 py-2 mx-2">
        <span class="text-6xl">{{ minutes }}</span><br>Minutes
      </div>
      <div class="bg-red-500 text-white rounded-full px-8 py-2 mx-2">
        <span class="text-6xl">{{ seconds }}</span><br>Secondes
      </div>
    </div>
  
    <div class="bg-gray-500 text-white p-2 flex justify-around">
      <div class="text-center">
        <i class="text-yellow-400 mr-6 mt-2 text-4xl fas fa-users"></i> 
        <span class="text-yellow-400 text-3xl font-bold mr-6">+1000</span><br>
        <span class="ml-20">Participants</span>
      </div>
      <div class="text-center">
        <i class="text-yellow-400 mr-6 mt-2 text-4xl  fas fa-microphone-alt"></i>
        <span class="text-yellow-400 text-3xl font-bold">+25</span><br>
        <span class="ml-20">Conférenciers</span>
      </div>
      <div class="text-center">
        <i class="text-yellow-400 mr-14 mt-2 text-4xl far fa-calendar-alt"></i>
        <span class="text-yellow-400 text-3xl font-bold">5</span><br>
        <span class="ml-20">Jours de Sommet</span>
      </div>
      <div class="text-center">
        <i class="text-yellow-400 mr-6 mt-2 text-4xl fas fa-briefcase"></i>
        <span class="text-yellow-400 text-3xl font-bold">15</span><br>
        <span class="ml-20">Ateliers</span>
      </div>
    </div>
    
</div>
  