<footer class="flex flex-col items-center py-2 bg-footer pb-2 gap-2" style="background-color: #08315a;">
    <p class="text-white pb-5" style="font: 14px;">Contact : OTIF</p>
    <div class="text-2xl flex items-center flex-wrap justify-center gap-5 border-b pb-10 w-full" style="font:18px hebbo,sans-serif; padding: 0px 0px 27px;">
        <a class="text-white font-bold hover:text-secondary" href="">
          Accueil
        </a>
        <a class="text-white font-bold hover:text-secondary" routerLink="/program">
           Programme
        </a>
        <a class="text-white font-bold hover:text-secondary" routerLink="/contact">
           Contact
        </a>
    </div>
    <div style=" padding: 0px 24px;" >
        <p style="font: lighter 12px Montserrat,sans-serif"  class="font-light text-sm text-white pt-2">Copyright 2024 OTIF </p>
    </div>
   
</footer>